html,
body {
    height: 100%;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.title{
    padding: 20px 20px;
    color: dimgrey;
    font-palette: light;
}
.container{
margin: 0 auto;
    margin: 10px 10px;
}
.button {
    color: red;
    text-transform: uppercase;
}
.form-signin input[type="login"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.header {
    text-align: center;
}
.flex-container {
    display: flex;
    flex-direction: row ;
    align-content: center;
}
.flex-item {
    background: antiquewhite;
   width: 20%;
margin: 5px 5px;
    padding: 10px 10px;
}
.flex-item1 {
    margin: 10px 10px;
    width: 33%;
}
.shopping{
    text-transform: lowercase;
    border: 1px solid darkgray;
    text-align: center;
    padding: 5px 5px;
    background: gainsboro;
}
.color-button{
    background: rosybrown;
    padding: 10px 10px;
    border-radius: 5px;

}
